Fetching and cleaning data from the szdb, the schizophrenia database.

In [1]:
%load_ext autoreload
%autoreload 2
%reload_ext autoreload
import pandas as pd
import numpy as np
import re
import szdb
%matplotlib inline

## CNVs
###  From the szdb based on 77 studies

The location of the CNVs implicated in schizophrenia is given in terms of cytogenic bands.  Source URL:

http://www.szdb.org/download/CNV.txt

In [2]:
fpath = '/big/results/bsm/2020-07-24-szdb/downloaded/CNV.txt'
CNV = pd.read_csv(fpath, sep='\t')

Clean and get start and end cytobands

In [3]:
CNV = CNV.loc[[bool(re.match('^[pq][0-9]+', y)) for y in CNV['cytoband']], :]
CNV['start cytoband'] = [re.sub('([pq][0-9]+(\.[0-9]+)?).*$', '\\1', c) for c in CNV.loc[:, 'cytoband']]
CNV['end cytoband'] = CNV.loc[:, 'start cytoband']
categories = [str(y) for y in range(1, 23)] + list('XY')
CNV['chrom'] = pd.Categorical(CNV['chromosome'], ordered=True, categories=categories)

### Cytoband mapping for hg19
Mapping between cytobands and nucleotide base positions for hg19/GRCh37

https://hgdownload.cse.ucsc.edu/goldenpath/hg19/database/cytoBand.txt.gz

First I extend the mapping with GRCh37 style contig names and index the DataFrame.

In [4]:
hgcb = pd.read_csv('/big/data/refgenome/GRCh37/cytoBand.tsv', sep='\t')
# 'chrom' column will hold contig names in GRCh37 style
l = [c.replace('chr', '') for c in hgcb['chr']]
hgcb['chrom'] = pd.Categorical(l, ordered=True, categories=categories)
hgcb.sort_values(by=['chrom', 'start'], inplace=True)
# Index with tuples.  Multiindex might be better.
#hgcb.index = [(c.replace('chr', ''), n) for c, n in zip(hgcb['chr'], hgcb['name'])]
hgcb.index = pd.MultiIndex.from_tuples(zip(hgcb['chrom'], hgcb['name'])) 
hgcb

            chr     start       end     name   score chrom
1 p36.33   chr1         0   2300000   p36.33    gneg     1
  p36.32   chr1   2300000   5400000   p36.32  gpos25     1
  p36.31   chr1   5400000   7200000   p36.31    gneg     1
  p36.23   chr1   7200000   9200000   p36.23  gpos25     1
  p36.22   chr1   9200000  12700000   p36.22    gneg     1
...         ...       ...       ...      ...     ...   ...
Y q11.221  chrY  15100000  19800000  q11.221  gpos50     Y
  q11.222  chrY  19800000  22100000  q11.222    gneg     Y
  q11.223  chrY  22100000  26200000  q11.223  gpos50     Y
  q11.23   chrY  26200000  28800000   q11.23    gneg     Y
  q12      chrY  28800000  59373566      q12    gvar     Y

[862 rows x 6 columns]

Comparing the set of cytobands used in `CNV` (from szdb) to those in `hgcb` (from the hg19 bundle):

In [5]:
set_hgcb = set(hgcb.index)
set_CNV_start = set(list(zip(CNV['chromosome'], CNV['start cytoband'])))
set_CNV_end = set(list(zip(CNV['chromosome'], CNV['end cytoband'])))

In the previous code chunck `set_hgcb` is the set of cytoband names in `hgcb`. `set_CNV_starts` and `set_CNV_end` are the set of cytoband names that define the *start* and *end* of some schizophrenia related CNV, respectively.

Both `set_CNV_start` and `set_CNV_end` contain cytoband names that are missing from `set_hgcb`. The following code shows that the same names are missing for `set_CNV_start` as for `set_CNV_end`.

In [6]:
set_CNV_start - set_hgcb == set_CNV_end - set_hgcb

True

I refer the missing names as *incorrect*.  The incorrect names are as follows

In [7]:
incorr = list(set_CNV_start - set_hgcb)
incorr

[('6', 'p13.11'),
 ('15', 'q12.1'),
 ('22', 'q11'),
 ('6', 'q22'),
 ('10', 'q23'),
 ('21', 'q22'),
 ('16', 'p12'),
 ('15', 'q11'),
 ('8', 'q11.2'),
 ('20', 'q11'),
 ('6', 'q24'),
 ('22', 'q11.2'),
 ('7', 'p36.3'),
 ('7', 'q11.2'),
 ('3', 'p21'),
 ('17', 'q21.3'),
 ('13', 'q31'),
 ('16', 'p13.1'),
 ('3', 'p263'),
 ('16', 'p11')]

By inspecting `hgcb` it turns out that the incorrect cytobands are all composed of multiple, more finely divided sub-cytobands.  So to correct each incorrect name I take the start (5') and end (3') member of its sub-cytobands from `hgcb`.  I will enter these semi-manually into the `corr start` and `corr end` columns of the following data frame.

In [8]:
corr_cb = pd.DataFrame({'incorr': incorr}, index=incorr)
corr_cb['corr start'] = corr_cb.loc[:, 'incorr']
corr_cb['corr end'] = corr_cb.loc[:, 'incorr']

These functions will make manual data entry easier

In [9]:
def correct(incorr, corr, which='start'):
    corr_cb.loc[incorr, 'corr ' + which] = corr
    if corr not in set_hgcb:
        print('Wrong input:', corr, '\nTry again')
    
def corrs(incorr, corr):
    correct(incorr, corr, which='start')
    
def corre(incorr, corr):
    correct(incorr, corr, which='end')

Look at `/big/data/refgenome/GRCh37/cytoBand.tsv` for the following operations

In [10]:
# I hate manual data entry
corrs(('20', 'q11'), ('20', 'q11.1'))
corre(('20', 'q11'), ('20', 'q11.23'))
corrs(('15', 'q12.1'), ('15', 'q12'))
corre(('15', 'q12.1'), ('15', 'q12'))
corrs(('8', 'q11.2'), ('8', 'q11.21'))
corre(('8', 'q11.2'), ('8', 'q11.23'))
corrs(('16', 'p11'), ('16', 'p11.1'))
corre(('16', 'p11'), ('16', 'p11.2'))
corrs(('6', 'q24'), ('6', 'q24.1'))
corre(('6', 'q24'), ('6', 'q24.3'))
corrs(('22', 'q11.2'), ('22', 'q11.21'))
corre(('22', 'q11.2'), ('22', 'q11.23'))
corrs(('10', 'q23'), ('10', 'q23.1'))
corre(('10', 'q23'), ('10', 'q23.33'))
corrs(('6', 'p13.11'), ('6', 'p13.11'))
corre(('6', 'p13.11'), ('6', 'p13.11'))
corrs(('13', 'q31'), ('13', 'q31.1'))
corre(('13', 'q31'), ('13', 'q31.3'))
corrs(('16', 'p12'), ('16', 'p12.1'))
corre(('16', 'p12'), ('16', 'p12.3'))
corrs(('17', 'q21.3'), ('17', 'q21.31'))
corre(('17', 'q21.3'), ('17', 'q21.33'))
corrs(('3', 'p21'), ('3', 'p21.1'))
corre(('3', 'p21'), ('3', 'p21.33'))
corrs(('3', 'p263'), ('3', 'p26.3'))
corre(('3', 'p263'), ('3', 'p26.3'))
corrs(('15', 'q11'), ('15', 'q11.1'))
corre(('15', 'q11'), ('15', 'q11.2'))
corrs(('7', 'p36.3'), ('7', 'p36.3'))
corre(('7', 'p36.3'), ('7', 'p36.3'))
corrs(('22', 'q11'), ('22', 'q11.1'))
corre(('22', 'q11'), ('22', 'q11.23'))
corrs(('16', 'p13.1'), ('16', 'p13.11'))
corre(('16', 'p13.1'), ('16', 'p13.13'))
corrs(('7', 'q11.2'), ('7', 'q11.21'))
corre(('7', 'q11.2'), ('7', 'q11.23'))
corrs(('6', 'q22'), ('6', 'q22.1'))
corre(('6', 'q22'), ('6', 'q22.33'))
corrs(('21', 'q22'), ('21', 'q22.11'))
corre(('21', 'q22'), ('21', 'q22.13'))

Wrong input: ('6', 'p13.11')
Try again
Wrong input: ('6', 'p13.11')
Try again
Wrong input: ('7', 'p36.3')
Try again
Wrong input: ('7', 'p36.3')
Try again

The cytobands marked by `Wrong input` are probably typos made by the creators of `/big/results/bsm/2020-07-24-szdb/downloaded/CNV.txt` so I remove them from `CNV`:

In [11]:
l = list(zip(CNV['chromosome'], CNV['start cytoband']))
print(l.index(('6', 'p13.11')), l.index(('7', 'p36.3')))

748 943

In [12]:
ix_to_drop = CNV.index[[748, 943]]

In [13]:
CNV.drop(index=ix_to_drop, inplace=True)
CNV.index[[748, 943]]

Int64Index([760, 959], dtype='int64')

Now expand each row of `CNV` that corresponds multiple cytogenic bands either because a range of bands were given or the single band that was given corresponds to multiple ones in `hgcb`.  Essentially we move from CNV based rows to cytogenic band based ones.  We also annotate each row with the start and end base of its cytoband based on `hgcb`.

In [14]:
expandedCNV = szdb.expandCNV(CNV, hgcb, corr_cb)
expandedCNV.head()

           Author  Year      PMID                           Platform  \
5  q21.3  Wilson   2006  16434481  human BAC microarray 2.0 and qPCR
22 q12.3  Wilson   2006  16434481  human BAC microarray 2.1 and qPCR
14 q23.3  Wilson   2006  16434481  human BAC microarray 2.2 and qPCR
1  p34.3  Wilson   2006  16434481  human BAC microarray 2.3 and qPCR
   q44     Kirov   2008  17989066              Tiling Path BAC Array

               Cases                             control             Familial  \
5  q21.3     35 + 15                             35 + 15             Sporadic
22 q12.3     35 + 15                             35 + 15             Sporadic
14 q23.3     35 + 15                             35 + 15             Sporadic
1  p34.3     35 + 15                             35 + 15             Sporadic
   q44    93 trios    Database of Genomic Variants + 372  Familial + Sporadic

         population chromosome cytoband type                    Genes  \
5  q21.3        NaN          5    q21.3  del           EFNA5 (1 gene)
22 q12.3        NaN         22    q12.3  del          CACNG2 (1 gene)
14 q23.3        NaN         14    q23.3  dup           AKAP5 (1 gene)
1  p34.3        NaN          1    p34.3  dup           GRIK3 (1 gene)
   q44    Bulgarian          1      q44  dup  EFCAB2/KIF26B (2 genes)

                                              Main findings  \
5  q21.3  4 genes in the abrrent loci are associated wit...
22 q12.3  4 genes in the abrrent loci are associated wit...
14 q23.3  4 genes in the abrrent loci are associated wit...
1  p34.3  4 genes in the abrrent loci are associated wit...
   q44    13 aberrations were found to be associated wit...

                                                       note chrom hg cytoband  \
5  q21.3  Bipolar disorder is also included in this rese...     5       q21.3
22 q12.3  Bipolar disorder is also included in this rese...    22       q12.3
14 q23.3  Bipolar disorder is also included in this rese...    14       q23.3
1  p34.3  Bipolar disorder is also included in this rese...     1       p34.3
   q44                1/93 in cases; inhereated from father     1         q44

         hg chr cytoband      start        end
5  q21.3      (5, q21.3)  104500000  109600000
22 q12.3     (22, q12.3)   32200000   37600000
14 q23.3     (14, q23.3)   64800000   67900000
1  p34.3      (1, p34.3)   34600000   40100000
   q44          (1, q44)  243700000  249250621

Summarize the results by counting how many times a cytogenic band appears in the `CNV` table.  Write summary to a BED file.

In [15]:
CNV_bed = szdb.bedifyCNV(expandedCNV, hgcb)
CNV_bed.to_csv('/big/results/bsm/2020-07-24-szdb/szdb-CNV-cytogenic-band-counts.bed', sep='\t', index=False, header=False)
CNV_bed.sort_values(by='count', ascending=False)

          chrom      start        end  count
15 q11.2     15   20700000   25700000     51
22 q11.21    22   17900000   22200000     49
1  q21.1      1  142600000  147000000     46
16 p11.2     16   28100000   34600000     39
22 q11.22    22   22200000   23500000     35
...         ...        ...        ...    ...
11 q14.3     11   88300000   92800000      0
   q14.2     11   85600000   88300000      0
3  q23        3  138700000  142800000      0
11 q13.5     11   75200000   77100000      0
6  p11.2      6   57000000   58700000      0

[862 rows x 4 columns]

Compare the most affected cytobands to Table2 in the review of Sullivan et al [Nature Reviews Genetics 13, 537 (2012)](https://www.nature.com/articles/nrg3240).  The two tables are consistent with each other.

In [16]:
%connect_info

{
  "shell_port": 43987,
  "iopub_port": 59659,
  "stdin_port": 33063,
  "control_port": 37781,
  "hb_port": 50461,
  "ip": "127.0.0.1",
  "key": "ee0d5d00-36639e48b890f3e1b3862ab6",
  "transport": "tcp",
  "signature_scheme": "hmac-sha256",
  "kernel_name": ""
}

Paste the above JSON into a file, and connect with:
    $> jupyter <app> --existing <file>
or, if you are local, you can connect with just:
    $> jupyter <app> --existing kernel-b585d399-74c2-42f7-98ff-eebddefb2b51.json
or even just:
    $> jupyter <app> --existing
if this is the most recent Jupyter kernel you have started.